@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 5px;
    width: 100%;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(255, 212, 219, 0.3);
  }

  .img {
    max-width: 100%;
    height: auto;
  }
  
  .header {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("header\ taustakuva.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #3c1573;
  }

  .header h1 {
    font-size: 40px;
    font-style:italic;
    text-align:right;
    color: #3c1573;
    letter-spacing: 2px;
  }

  .header img {
    padding: 10px;
  }

  h2 {
    letter-spacing: 1;
    font-size: 25px;
  }

  .menu a, .dropbtn {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 12px;
    background-color: #D3B5E5;
    border-radius: 60px;
    border: 2px solid #3c1573;
    margin: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  a.active {
    background-color: #3c1573;
    color: white;
  }
  
  .menu a:hover, .dropbtn:hover, .dropdown-content a:hover {
    background-color: #5920A9;
    color: white;
  }

  .dropdown-content {
  display: none;
  padding-left: 12px;
  /*position: absolute;
  z-index: 1;*/
  width: 100%;
  }

  .dropdown-content a {
    font-size: 16px;
    padding: 3px 10px;
  }

  .fa-angle-down {
    float: right;
    padding-top: 4px;
  }

  .show {
    display:block;
  }

  .keskiosakel {
    margin: 1% 1% 2% 2%;
    padding: 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233C1573FF' stroke-width='4' stroke-dasharray='12%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: #EFF1DB;
  }

  .kuvakel img {
    max-width: 100%;
    height: auto;
    padding: 5px;
  }

  .keskiosapun {
    margin: 1% 1% 2% 2%;
    padding: 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233C1573FF' stroke-width='4' stroke-dasharray='12%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: #ffd4db;
  }

  .kuvapun img {
    max-width: 100%;
    height: auto;
    padding: 5px;
  }
  
  .laskuri {
    color: #03370d;
    text-align: center;
    margin: 1%;
    border: 50px solid;
    border-image: url("laskurikuva.png") 100 round;
  }

  #demo {
    font-size: 35px;
    font-weight: 700;
  }

  .sivuosa {
    margin: 2%;
    background-color: #D3B5E5;
    padding: 15px;
    color: #3c1573;
    text-align: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233C1573FF' stroke-width='4' stroke-dasharray='12%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .sivuosa ul {
    list-style-image: url("lahjaikoni.png");
    text-align:start;
  }

  .sivuosa li {
    margin: 10px 0;
  }
  
  .footer {
    background-color: #D3B5E5;
    color:#3c1573;
    font-size: 13px;
    padding: 5px 8px;
    border: 2px solid #3c1573;
    letter-spacing: 1;
    text-align: right;
    overflow: auto;
  }
  
  input {
    padding: 4px 10px;
    margin: 3px 0px 12px 4px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #3c1573;
    letter-spacing: 1;
    font-size: 13px;
    border: 2px solid #3c1573;
    border-radius: 60px;
  }

  textarea {
    border: 2px solid #3c1573;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 6px;
    font-family: 'Ubuntu', sans-serif;
    color: #3c1573;
    letter-spacing: 1;
    font-size: 13px;
    resize: none;
  }

  input[type=submit] {
    border: 2px solid #3c1573;
    padding: 5px 12px;
    background-color: #EFF1DB;
    border-radius: 60px;
    font-family: 'Ubuntu', sans-serif;
    color: #3c1573;
    font-size: 15px;
  }

  @media only screen and (max-width: 669px) {
    .header h1 {
      margin: 0px;
      font-size: 30px;
      text-align: center;
      padding: 30px 0px 30px 0px;
    }
    .row {
      font-size: 16px;
    }
    h2 {
      font-size: 20px;
    }
  }
  
  @media only screen and (min-width: 670px) and (max-width: 1034px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .header {
      padding: 25px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .header h1 {text-align: right; padding: 10px; font-size: 30px;}
    .header img {padding: 10px;}
    .html {font-size: 14px;}
    .keskiosakel {
      padding: 30px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .kuvakel img {
      float:right;
    }
    .keskiosapun {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
    }
    .row {
      font-size: 18px;
    }
    .menu {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    h2 {
      font-size: 22px;
    }
    .footer {
      padding: 15px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .footer img {
      float: right;
    }
  }

  @media only screen and (min-width: 1035px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .header {
      padding: 70px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .keskiosakel {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .kuvakel img {
      float:right;
    }
    .keskiosapun {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    .menu {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
  }
  .footer {
    padding: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .footer img {
    float: left;
  }
  }